<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URL Shortener</title>
</head>
<body>
  <h1>URL Shortener</h1>
  
  <form action="/" method="POST">
     <input type="text" name="long_url" placeholder="Enter a long URL" required/>
     <button type="submit">Shorten</button>
  </form>

  {% if shortened_urls %}
  <h2>Shortened URLs</h2>
  <table border="1">
    <tr>
      <th>Long URL</th>
      <th>Short URL</th>
    </tr>
    {% for url_entry in shortened_urls %}
<tr>
  <td><a rel="noreferrer" href="{{ url_entry.longUrl }}" target="_blank">{{ url_entry.longUrl }}</a></td>
  <td><a rel="noreferrer" href="{{ request.host_url }}{{ url_entry.shortUrl }}" target="_blank">{{ request.host_url }}{{ url_entry.shortUrl }}</a></td>
</tr>
{% endfor %}

  </table>
  {% else %}
  <h2>No shortened URLs yet. Create one above!</h2>
  {% endif %}
</body>
</html>
